h2#server-message {
    color: #FFFFFF;
    margin-top: 20px;
}

div#the_app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

header#header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

input#song-search-input {
    border: 0;
    border-radius: 3px;
    width: 62%;
    line-height: 3rem;
    padding: 5px 5px 5px 15px;
    font-size: 2rem;
    font-family: 'Rambla', sans-serif;
    margin: 0;
}

div#mode-selection {
    display: flex;
    flex-direction: row;
    width: 62%;
    height: 50px;
}

@media screen and (max-width: 600px) {
    img#hellyea {
        width: 100%;
    }

    input#song-search-input, div#mode-selection {
        line-height: 2rem;
        width: 100%;
    }

    input#song-search-input {
        padding: 5px 5px 5px 5px;
    }
}

@media screen and (min-width: 600px) {
    img#hellyea {
        height: 300px;
    }
}

img#hellyea {
    display: block;
}

/** track listings */

div.track {
    margin: 5px;
    padding: 5px;
    font-family: 'Comic Neue',sans-serif;
    text-align: left;
    display: inline-block;
    color: #fff;
}

#track-listings {
}

#track-listings-wrapper {
}

li.track-listing {
    margin: 5px 6px 6px 5px;
    font-size: 2rem;
    padding-bottom: 5px;
}

li.track-listing:hover {
    padding-bottom: 0;
    border-bottom: 5px solid red;
}

span.track-title {
    //    font-size: 28pt;
}

span.track-artist {
    //    font-size: 28pt;
    color: #FFEB00;
    margin-left: 10px;
    font-style: italic;
}

div#search-browse-control {
    display: flex;
    flex-direction: row;
    width: 62%;
    height: 50px;
}
